/*Bootstrap CSS*/
.navbar img{
    width: 40px;
}
.container{
    margin: 0 220px 0 220px;
}
.bg-primary {
    background-color: #562EFF!important;
}

/*Custom CSS*/
body{
    background-color: #E5E5E5;
}
main{
    margin-top: 30px;
    height: 600px;
    width: 870px;
    border-radius: 5px;
}
body h3{
    color: #562EFF;
    margin: 20px 0 20px 0;
}
.player img{
    width: 56px;
}
.top-blog img{
    width: 150px;
}
.info h6{
    font-size: 14px;
}
.info span{
    color: #562EFF;
}

